@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Lobster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.inter {
  font-family: "Inter", sans-serif;
}

.bg {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(125, 108, 157, 1) 0%,
    rgba(103, 58, 183, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(125, 108, 157, 1) 0%,
    rgba(103, 58, 183, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(125, 108, 157, 1) 0%,
    rgba(103, 58, 183, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#673AB7', endColorstr='#7D6C9D', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(125, 108, 157, 1) 0%,
    rgba(103, 58, 183, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(125, 108, 157, 1) 0%,
    rgba(103, 58, 183, 1) 100%
  );
}

.app__bg {
  background: url("https://images.unsplash.com/photo-1560179707-f14e90ef3623?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=873&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.hero__bg_1 {
  background: url("https://images.unsplash.com/photo-1590579906355-9ea60292515b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1178&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.hero__slide_1 {
  background: url("https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.bgg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    ellipse at 50% 50%,
    rgba(6, 6, 133, 1) 0%,
    rgba(0, 87, 128, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    ellipse at 50% 50%,
    rgba(6, 6, 133, 1) 0%,
    rgba(0, 87, 128, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    ellipse at 50% 50%,
    rgba(6, 6, 133, 1) 0%,
    rgba(0, 87, 128, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    ellipse at 50% 50%,
    rgba(6, 6, 133, 1) 0%,
    rgba(0, 87, 128, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    ellipse at 50% 50%,
    rgba(6, 6, 133, 1) 0%,
    rgba(0, 87, 128, 1) 100%
  );
}

.walkoutalk {
  background: url("./assets/suitcase-removebg-preview.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.book_1 {
  background: url("https://images.unsplash.com/photo-1577627444534-b38e16c9d796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=436&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.book_2 {
  background: url("https://images.unsplash.com/photo-1590602847861-f357a9332bbc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.book_3 {
  background: url("https://images.unsplash.com/photo-1576085898274-069be5a26c58?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.another {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 0, 30, 1) 0%,
    rgba(1, 21, 86, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 30, 1) 0%,
    rgba(1, 21, 86, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(0, 0, 30, 1) 0%,
    rgba(1, 21, 86, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011556', endColorstr='#00001E', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(0, 0, 30, 1) 0%,
    rgba(1, 21, 86, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(0, 0, 30, 1) 0%,
    rgba(1, 21, 86, 1) 100%
  );
}
